* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    overflow: auto;
}

h1 {
    font-size: 30pt;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.subtitle {
    font-size: 15px;
    font-weight: bold;
}

#container {
    background: #423F3E;
    display: grid;
    grid-template-columns: 0.5fr 9.5fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
    "header header"
    "bar contents";
    height: 100vh;
}

#bar-container {
    grid-area: bar;
    display: flex;
}

#list-contents {
    grid-area: contents;
    margin: 0px 40px 40px 0px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas:
    "aside"
    "main"
    "footer";

    max-height: 100%;
    overflow: hidden;
}

header {
    grid-area: header;
    background-color: #423F3E;
    align-items: center;
    display: flex;
    margin: 20px 40px 20px;
}


nav {
    border-radius: 15px;
    grid-area: menu;
    background-color: #2B2B2B;
    margin: 0px 10px 40px 40px;
}

nav li div {
    display: block;
    text-align: center;
    margin-top: 5px;
}

nav li img {
    width: 30px;
    height: auto;
}

nav li {
    margin-bottom: 40px;
    cursor: pointer;
}


nav ul li:nth-child(3),
nav ul li:nth-child(4) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: auto;
}

nav ul li:nth-child(3){
    padding-top: 563px;
}
nav ul li:nth-child(1){
    padding-top: 20px;
}

ul {
    margin: 10px;
    list-style: none;
    color: white;
    font-size: 9pt;
}

li {
    margin-bottom: 10px;
    text-align: center;
}

#study-search ul{
    list-style:none;
    white-space: nowrap;
}

aside#Detailed-search{
    grid-area: dsearch;
    width: 250px;
    background-color: #2B2B2B;
    border-radius: 15px;
    margin: 0px 10px 40px 0px;
}

.circle-list {
    list-style-type: none; /* 기본 목록 마커를 제거합니다 */
    padding: 0;
}

aside li {
    display: inline-block;
    margin-left: 20px;
    border: none;
    text-align: center;
    background-color: #2B2B2B;
    cursor: pointer;
}

aside li:nth-child(1) {
    width: 50%;
}

aside li:not(:first-child) {
    border-radius: 50%; /* 동그랗게 만들기 위해 50%로 설정합니다 */
    background-color: #393939;
    line-height: 40px;
    width : 40px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border : none;
}


aside#study-search {
    grid-area: aside;
    background-color:#2B2B2B;
    color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

#search-bar, #search-result{
    margin-left: 20px;
    margin-top: 5px;
}

#search-result {
    margin-right: 70px;
}

#search-result{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-result a{
    margin-right: 5px;
}

#search-result button,select {
    padding-left: 5px;
    border-radius: 15px ;
    height: 30px;
    width: 6.25%;
    background-color: #090900;
    color: white;
    margin-right: 20px;
}

article {
    width: 25vw; /*25%*/
    background-color: #2B2B2B;
    height: 20vw;
}

img{
    width: 100%;
}

/*#mainContent {*/
/*    grid-area: main; !* #mainContent를 section 그리드 영역에 배치 *!*/
/*    background-color: #2B2B2B;*/
/*    border-bottom-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    overflow: auto;*/
/*    max-height:38vh;*/
/*    height: 500px;*/
/*}*/

#mainContent {
    grid-area: main;
    background-color: #2B2B2B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    overflow: visible;
    max-height: unset;
    height: auto;
    overflow: auto;
}

#mainContent::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 OS에서 스크롤바 디자인 안보이게 하기 */
}

#mainTable {
    width: 90%;
    height: 15px;
    background-color: #090909;
    color: white;
    border-collapse: collapse;
    font-size: 12px;
    margin: 0 auto;/**/
}

#mainTable th, #mainTable td {
    text-align: center;
    border: 2px solid #2B2B2B;
    padding: 8px;
}

#mainTable th {
    height: 35px;
    background-color: #393939;
}

#header-container {
    position: sticky;
    top: 0;
    background-color: #393939;
    z-index: 2;
}

#mainTable td{
    z-index: 1;
}

.wide-cell {
    width: 550px;
}

.study, .studyList {
    width: 550px;
}

footer {
    grid-area: footer;
    display: flex;
    max-height: 37vh; /* 원하는 높이의 최대값 설정 */
}

.left-div, .right-div {
    flex: 1;
    border-radius: 15px;
    text-align: center;
    margin-top : 10px;
    margin-right: 10px;
}

.left-div {
    padding: 15px;
    background-color: #2B2B2B;
    color: white;
    list-style: none; /* 목록의 기본 스타일(점) 제거 */
}
.left-div div:nth-child(1) {
    display: flex;
    margin-bottom: 15px;
}
.left-div div:nth-child(2) {
    padding: 0;
    display: flex; /* 가로 정렬을 위해 flexbox 레이아웃 사용 */
    flex-direction: row; /* 가로로 정렬 */
    justify-content: flex-start;
}

.pid-div{
    margin: 0px 50px;
}

.table-div {
    display: flex;
    justify-content: center;
}

#previousTable {
    width: 90%;
    height: 15px;
    background-color: #090909;
    color: white;
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
}
#previousTable th, #previousTable td {
    border: 2px solid #2B2B2B; /* 테두리를 1px 굵기의 검은 선으로 설정 */
    padding: 8px; /* 셀 안의 내용과 테두리 사이의 간격을 조절 */
}

#previousTable tr th {
    background-color: #090909;
}

#previousTable tr:nth-child(odd) {
    background-color: #393939;
    cursor: pointer;
}
#previousTable tr:nth-child(even) {
    background-color: #2F2F2F;
    cursor: pointer;
}

.right-div {
    background-color: #242424;
    display: grid; /*grid 형식으로*/
    grid-template : 1fr 6fr 7fr  / 100px auto auto ;
    padding-top: 15px;
    color : white;
    max-width: 100%;
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
    margin-top: 10px;
}

[class *= cell] {
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #393939;
}

.right-div > div:first-child {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 15px;
    padding-right: 15px;
}
.subtitleAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subtitleAndButton a{
    margin-right: 3px;
}

#studyCount {
    margin-right: auto; /* 왼쪽 끝에 배치 */
}

.subtitleAndButton button {
    padding-left: 5px;
    border-radius: 15px ;
    height: 30px;
    width: 12.5%;
    background-color: #090900;
    color: white;
}

.cell-a {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid; /* 그리드 레이아웃 사용 */
    place-items: center; /* 자식 요소를 가운데 정렬 */
}

.cell-a textarea {
    width: 100%; /* 부모 요소에 맞게 너비를 설정 */
    height: 100%; /* 부모 요소에 맞게 높이를 설정 */
    box-sizing: border-box; /* 내부 여백과 테두리를 포함한 전체 크기를 유지 */
    resize: none; /* 사용자가 크기를 조절할 수 없도록 설정 */
    white-space: pre-line;
    background-color: #373737;
    border: none;
}

.cell-b {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid; /* 그리드 레이아웃 사용 */
    place-items: center; /* 자식 요소를 가운데 정렬 */
}

.cell-b textarea {
    width: 100%; /* 부모 요소에 맞게 너비를 설정 */
    height: 100%; /* 부모 요소에 맞게 높이를 설정 */
    box-sizing: border-box; /* 내부 여백과 테두리를 포함한 전체 크기를 유지 */
    resize: none; /* 사용자가 크기를 조절할 수 없도록 설정 */
    white-space: pre-line;
    background-color: #373737;
    border: none;
}

.cell-c {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1열로 균등하게 분배 */
    gap: 0px; /* 열 사이의 간격을 설정 (원하는 간격으로 조절) */
}

.cell-c > div:not(:last-child) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.cell-c div div {
    padding : 2px;
    margin-top: 2px;
}
.cell-c div div select{
    width : 80%;
    height : 100%;
    margin-left: 15px;
    background-color: #090900;
    color: white;
    border-radius: 10px;
}
.cell-c div div input{
    width : 80%;
    margin-left: 15px;
    background-color: #090900;
    color: white;
    border-radius: 10px;
}
.cell-c div:nth-child(6) {
    text-align: right;
    margin-right: 15px;
    padding-left: 5px;
}
.cell-c div:nth-child(6) button {
    padding-left: 5px;
    border-radius: 15px ;
    height: 30px;
    width: 25%;
    background-color: #090900;
    color: white;
}


.keyword {
    height: 30px;
    background-color: #373737;
    border-radius: 12px;
    padding-left: 10px;
    color: white;
    width: 27%;
}
#category {
    height: 30px;
    background-color: #373737;
    border-radius: 12px;
    padding-left: 10px;
    color : #9B9B9B;
    cursor: pointer;
}
#search {
    background-color: #621212;
    line-height: 40px;
    width : 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    margin-left: 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.subTr:hover {
    cursor: pointer;
    background-color: darkolivegreen;
}

.image-container .hover-image {
    display: none;
}

.image-container .normal-image {
    display: block;
}

.nav_li:hover .hover-image {
    display: block;
}

.nav_li:hover .normal-image {
    display: none;
}

.image-container:hover .hover-image {
    display: block;
}

.image-container:hover .normal-image {
    display: none;
}

.image-container {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}

#trTitle{
    background-color: #373737;
}

#loadMore {
    cursor: pointer;
}

#Pid-input, #Pname-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    height: 1.4375em;
    padding: 8.5px 14px;
}

.buttonContainer {
    text-align: center; /* 버튼을 수평 중앙에 정렬 */
    margin-top: 10px; /* 버튼과 테이블 사이 간격 조절 */
}

#loadMore{
    width: 100px;
    background-color: #090900;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 7px;
    cursor: pointer;
    font-size: 12px;
}