* {
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	overflow: auto;
}

#viewer {
	background: #423F3E;
	display: grid;
	grid-template-columns: 0.5fr 9.5fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas:
    "header header"
    "nav contents"
    "nav contents";

	height: 100vh;
}
#nav {
	height: 100%;
}

#image-container, #thumbnail-container{
	height: calc(100% - 87px);
}

header {
	grid-area: header;
	background-color: #423F3E;
	align-items: center;
	display: flex;
	margin: 20px 40px 20px ;
}

h1 {
	font-size: 30pt;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
}

nav {
	border-radius: 15px;
	grid-area: nav;
	background-color: #2B2B2B;
	margin: 0px 15px 40px 40px;
}

#viewer-contents {
	grid-area: contents;
	margin: 0px 15px 40px 0px;
}


aside {
	border-radius: 15px;
	background-color: #2B2B2B;
	margin: 0px 40px 10px 0px;
}

aside ul {
	display: flex;
	margin : 0px 20px;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

aside ul li {
	text-align: center;
	margin: 5px;
	padding: 10px;
	cursor: pointer;
}

aside li div, nav li div {
	display: block;
	text-align: center;
	margin-top: 2px;
}

aside ul li:not(.nohover):hover {
	background-color: black;
}


ul {
	margin: 10px;
	list-style: none;
	color: white;
	font-size: 9pt;
}

li {
	margin-bottom: 10px;
	text-align: center;
}


nav li img {
	width: 30px; /* 원하는 너비 설정 */
	height: auto; /* 높이를 자동으로 조정하여 가로 세로 비율 유지 */
}

nav li {
	margin-bottom: 40px;
	cursor: pointer;
}

.image-container .hover-image {
	display: none;
}

.image-container .normal-image {
	display: block;
}

.Report_btn .hover-image {
	display: none;
}

.Report_btn .normal-image {
	display: block;
}

.nav_li:hover .hover-image {
	display: block;
}

.nav_li:hover .normal-image {
	display: none;
}

.image-container:hover .hover-image {
	display: block;
}

.image-container:hover .normal-image {
	display: none;
}

.Report_btn:hover .hover-image {
	display: block;
}

.Report_btn:hover .normal-image {
	display: none;
}

.image-container ,.Report_btn{
	display: flex;
	align-items: center; /* 수직 가운데 정렬 */
	justify-content: center; /* 수평 가운데 정렬 */
}

nav ul li:nth-child(5),
nav ul li:nth-child(6) {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: auto;
}

nav ul li:nth-child(5){
	padding-top: 380px;
}
nav ul li:nth-child(1){
	padding-top: 20px;
}

/* thumbnail */
section#thumbnail-container {
	max-width: 270px;
	border-radius: 15px;
	background-color: #2B2B2B;
	margin: 0px 10px 40px 0px;
	display: flex;
	float: left;
}

#thumbnail-container table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed; /* 테이블의 너비를 고정합니다. */
}

#thumbnail-container thead {
	color: white;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid white;
	height: 80px;
	font-size: 13pt;
	position: sticky;
}

#thumbnail-container tbody {
	text-align: center;
}

/*#thumbnail-container tbody div {*/
/*	background-color: black;*/
/*	margin : 4px;*/
/*	border: 1px solid #7D7C7C;*/
/*}*/

#thumbnail-container tbody div:not(.thumbnail-desc) {
	background-color: black;
	margin : 4px;
	border: 1px solid #7D7C7C;
}

#thumbnail-container img {
	max-width: 90%; /* 이미지의 최대 너비를 부모 요소의 너비에 맞춥니다. */
	/*margin: 7px 10px 0px 10px;*/
	/*border: 2px solid grey;*/
	height: 150px;
}

.thumbnail-desc {
	/*max-width: 90%;*/
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 10000;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

section#image-container {
	background-color: #2B2B2B;
	margin: 0px 40px 40px 1px;

	display: grid; /* 이미지 컨테이너를 그리드 컨테이너로 설정합니다. */
	grid-template-columns: repeat(2, 1fr); /* 2개의 열을 만듭니다. */
	grid-template-rows: repeat(2, 1fr); /* 2개의 행을 만듭니다. */
	gap: 5px; /* 이미지 사이의 간격을 조절합니다. */
}

#image-container .image {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgray;
	border: 2px solid grey;
	background-color: black;
	border: 1px solid #7D7C7C;
	max-width: 100%;
	/*max-height: calc(100% - 101px);*/
}

#image-container .image img{
	height: 100%;
	width: 50%;
}

/* 시리즈 그리드 레이아웃 */
#infoBox {
	display: none;
	position: fixed;
	width: 110px;
	height: 130px;
	transform: translate(0%, 0%);
	background-color: #9B9B9B;
	border: 2px solid #090900;
	margin: 0 0 0 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 3;
	border-radius: 5px;
}

#infoContent ul {
	margin: 0 0 0 0;
}

#infoContent img {
	display: block;
	width: 20px;
	height: 20px;
	padding: 1px;
}

/* 도구 toolBox */
#toolBox, #annotationBox {
	display: none;
	position: fixed;
	width: 130px;
	/*height: 200px;*/
	height: fit-content;
	transform: translate(0%, 0%);
	background-color: #9B9B9B;
	border: 2px solid #090900;
	margin: 0 0 0 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 3;
	border-radius: 5px;
}

#toolContent ul, #annotationContent ul {
	margin: 0 0 0 0;
}

#toolContent img, #annotationContent img {
	display: block;
	width: 40px;
	height: 40px;
	padding: 3px;
	margin-left: 12px;
}

#toolContent img:hover, #annotationContent img:hover{
	background-color: darkolivegreen;
}

/* thumbnail 스크롤바 */
#thumbnail-container .table-wrapper {
	max-height: 95%; /* 예시로 높이 설정 */
	overflow-y: auto; /* 세로 방향으로만 스크롤바 표시 */
}

#thumbnail-container table {
	width: 100%; /* 테이블이 부모 요소 너비에 맞게 조정되도록 설정 */
	border-collapse: collapse; /* 테두리가 겹치도록 설정 */
}

#thumbnail-container .table-wrapper::-webkit-scrollbar {
	display: none; /* 크롬, 사파리, 오페라, 엣지 OS에서 스크롤바 디자인 안보이게 하기 */
}

/* 모달 스타일 */
.modal {
	display: none;
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
}

.modal-content {
	background-color: #242424;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	height: 60%;
	border-radius: 20px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.right-div {
	background-color: #242424;
	display: grid; /*grid 형식으로*/
	grid-template : 1fr 6fr 7fr  / 100px auto auto ;
	padding-top: 15px;
	color : white;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
	/*margin-top: 10px;*/
}

[class *= cell] {
	box-sizing: border-box;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: #393939;
}

.right-div > div:first-child {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 4;
	padding-left: 15px;
	padding-right: 15px;
}

.subtitleAndButton {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.subtitleAndButton a{
	margin-right: 3px;
}

#Pid-input, #Pname-input {
	font: inherit;
	letter-spacing: inherit;
	color: currentcolor;
	border: 0px;
	box-sizing: content-box;
	height: 1.4375em;
	padding: 8.5px 14px;
}

#studyCount {
	margin-right: auto; /* 왼쪽 끝에 배치 */
}

#category {
	height: 30px;
	background-color: #373737;
	border-radius: 12px;
	padding-left: 10px;
	color : #9B9B9B;
	cursor: pointer;
}

.subtitleAndButton button {
	padding-left: 5px;
	border-radius: 15px ;
	height: 30px;
	width: 12.5%;
	background-color: #090900;
	color: white;
	margin-left: auto;
}

.cell-a {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	display: grid; /* 그리드 레이아웃 사용 */
	place-items: center; /* 자식 요소를 가운데 정렬 */
}

.cell-a textarea {
	width: 100%; /* 부모 요소에 맞게 너비를 설정 */
	height: 100%; /* 부모 요소에 맞게 높이를 설정 */
	box-sizing: border-box; /* 내부 여백과 테두리를 포함한 전체 크기를 유지 */
	resize: none; /* 사용자가 크기를 조절할 수 없도록 설정 */
	white-space: pre-line;
	background-color: #373737;
	border: none;
}

.cell-b {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	display: grid; /* 그리드 레이아웃 사용 */
	place-items: center; /* 자식 요소를 가운데 정렬 */
}

.cell-b textarea {
	width: 100%; /* 부모 요소에 맞게 너비를 설정 */
	height: 100%; /* 부모 요소에 맞게 높이를 설정 */
	box-sizing: border-box; /* 내부 여백과 테두리를 포함한 전체 크기를 유지 */
	resize: none; /* 사용자가 크기를 조절할 수 없도록 설정 */
	white-space: pre-line;
	background-color: #373737;
	border: none;
}

.cell-c {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 4;
	display: grid;
	grid-template-columns: repeat(1, 1fr); /* 1열로 균등하게 분배 */
	gap: 0px; /* 열 사이의 간격을 설정 (원하는 간격으로 조절) */
}

.cell-c > div:not(:last-child) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.cell-c div div {
	padding : 2px;
	margin-top: 2px;
}

.cell-c div div select{
	width : 80%;
	height : 100%;
	margin-left: 15px;
	background-color: #090900;
	color: white;
	border-radius: 10px;
}

.cell-c div div input{
	width : 80%;
	margin-left: 15px;
	background-color: #090900;
	color: white;
	border-radius: 10px;
}

.cell-c div:nth-child(6) {
	text-align: right;
	margin-right: 15px;
	padding-left: 5px;
}

.cell-c div:nth-child(6) button {
	padding-left: 5px;
	border-radius: 15px ;
	height: 30px;
	width: 25%;
	background-color: #090900;
	color: white;
}

.horizontalStudy {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.horizontalStudy span {
	display: block;
}

.horizontalStudy .studytime {
	font-weight: bold;
	color: blue;
}

#comparisonModal {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width : 100%;
	height : 100%;
}

#comparisonGrid {
	width : 75%;
	height : 75%;
	display: grid;
	grid-template-rows: 2fr 4fr 3fr;
	overflow-y: auto;
	max-height: 80vh; /* 내용이 높이의 80% 이상이 되면 스크롤 출현. */
	grid-template-areas:
	"header"
	"contents"
	"footer";
}

#comparisonHeader{
	grid-area: header;
	background-color: #242424;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0;
}

#comparisonExit{
	align-self: flex-end;
}

#study-search{
	width: 95%;
	background-color:#2B2B2B;
	color: white;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#study-search ul{
	list-style:none;
	white-space: nowrap;
}

.search-bar{
	color: white;
	size : 15px;
	margin-left: 20px;
	margin-top: 5px;
}

#search {
	background-color: #621212;
	line-height: 40px;
	width : 40px;
	height: 40px;
	border-radius: 50%;
	color: white;
	margin-left: 15px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.keyword {
	 height: 30px;
	 background-color: #373737;
	 border-radius: 12px;
	 padding-left: 10px;
	 color: white;
	 width: 77%;
 }

.subtitleAndButton {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subtitleAndButton a{
	margin-right: 3px;
}

.subtitleAndButton button {
	padding-left: 5px;
	border-radius: 15px ;
	height: 30px;
	width: 12.5%;
	background-color: #090900;
	color: white;
}

.comparisonTable{
	grid-area: contents;
}

.modalComparisonTable {

	width: 90%;
	height: 15px;
	background-color: #090909;
	color: white;
	border-collapse: collapse;
	font-size: 12px;
	margin: 0 auto;/**/
}

.modalComparisonTable th, .modalComparisonTable td {
	text-align: center;
	border: 2px solid #2B2B2B;
	padding: 8px;
}

.modalComparisonTable th {
	height: 35px;
	background-color: #393939;
}

.header-container {
	position: sticky;
	top: 0;
	background-color: #393939;
	z-index: 2;
}

.modalComparisonTable td{
	z-index: 1;
}

.study, .studyList {
	width: 550px;
}

#comparisonFooter{
	grid-area: footer;
}

.subTr:hover {
	cursor: pointer;
	background-color: darkolivegreen;
}


#image-container2 {
	width:47%;
	height: calc(100% - 87px);
	display: none;
	align-items: center; /* 수직 가운데 정렬 */
	justify-content: center; /* 수평 가운데 정렬 */
	background-color: blueviolet;
	margin: 0px 40px 40px 1px;

	float:right;

	/*display: grid; !* 이미지 컨테이너를 그리드 컨테이너로 설정합니다. *!*/
	grid-template-columns: repeat(2, 1fr); /* 2개의 열을 만듭니다. */
	grid-template-rows: repeat(2, 1fr); /* 2개의 행을 만듭니다. */
	gap: 5px; /* 이미지 사이의 간격을 조절합니다. */
}